@import "../globalFunc";

.AboutUs {
  @include setFontSize($baseFontSize);
  .context {
    display: flex;
    width: 100%;
    padding: 30px 35px;
    justify-content: space-between;
    >div{
      margin-bottom: 10px;
    }
    .left {
      flex: 1;
    }
    .right {
      margin: 0 auto;
      text-align: center;
    }
  }
  .two-code {
    width: 180px;
    height: 180px;
    margin: 5px auto;
  }
  .two-code-label {
    @include setFontSize($miniFontSize);
    color: #666666;
    text-align: center;
  }
  .line-vertical {
    flex-direction: column;
  }
}