@import "../globalFunc";
.bookAfter {
  text-align: center;
  @include setFontSize($baseFontSize);
  .header {
    padding: 60px 0;
    p {
      margin: 0;
      padding-bottom: 20px;
    }
  }
  .hint {
    margin-top: 100px;
    a {
      color: $theme_color;
    }
  }
}