@import "../globalFunc";
/* icon ——time*/
.icon_time {
  display: inline-block;
  vertical-align: middle;
  width: 34px;
  height: 34px;
  background: url("../../assets/icon_calendar.png") no-repeat;
  background-size: 34px 34px;
}


























